name: Simple Go Build

on:
  push:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    #runs-on: ubuntu-latest
    runs-on: macos-latest
    steps:
      - name: check-os
        run: echo "The runner's operating system is $RUNNER_OS."
      
      - uses: actions/checkout@v3
      - name: Setup Go version
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'
  
      - uses: actions/cache@v3
        env:
          cache-name: go-cache
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
            
      - run: uname -a
      - run: go env -w GO111MODULE=auto
      - run: go run -mod=mod hello-world.go
